In [48]:
""" Example classifier on Numerai data using a xgboost regression. """

import pandas as pd
from xgboost import XGBRegressor
import numpy as np

In [9]:
# training data contains features and targets
training_data = pd.read_csv("eurusd_h1_5000.csv")

training_data.pop("Unnamed: 0")
training_data.pop("time")
#df.pop("open")
#df.pop("high")
#df.pop("low")
training_data

         open     high      low    close
0     1.15680  1.15680  1.15582  1.15604
1     1.15604  1.15624  1.15539  1.15548
2     1.15548  1.15593  1.15532  1.15593
3     1.15593  1.15623  1.15574  1.15577
4     1.15578  1.15634  1.15566  1.15610
...       ...      ...      ...      ...
4995  1.00106  1.00237  0.99953  0.99996
4996  0.99994  1.00122  0.99871  1.00072
4997  1.00074  1.00113  0.99868  0.99972
4998  0.99972  0.99979  0.99741  0.99803
4999  0.99806  0.99949  0.99762  0.99860

[5000 rows x 4 columns]

In [12]:
# tournament data contains features only
tournament_data = pd.read_csv("eurusd_h1_5000.csv")
tournament_data.pop("Unnamed: 0")
tournament_data.pop("time")
feature_names = [f for f in training_data.columns if "feature" in f]
feature_names

[]

In [37]:
# train a model to make predictions on tournament data
model = XGBRegressor(max_depth=2, learning_rate=0.1, \
                     n_estimators=2000, colsample_bytree=0.1)
model.fit(training_data[["open", "high", "low", "close"]], training_data[["open", "high", "low", "close"]])

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=2, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=2000,
             n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, ...)

In [62]:
# submit predictions to numer.ai
to_predict = pd.DataFrame(np.array([[0.99806,0.99949,0.99762,0.99860]]), columns = ["open", "high", "low", "close"])
predictions = model.predict(to_predict)
df = pd.DataFrame(predictions)
df.to_csv("predictions.csv")
print(to_predict)

      open     high      low   close
0  0.99806  0.99949  0.99762  0.9986

In [63]:
 pd.read_csv("predictions.csv")

   Unnamed: 0       0         1         2         3
0           0  0.9973  0.999458  0.997125  0.998193